<div class="container">
    <h1 class="centered">About NorseBooks</h1>
    <p class="justified">The NorseBooks project seeks to provide Luther College students a place to buy and sell textbooks to each other.</p>
    <p class="justified">The selling process is simple enough. To sell a book, navigate to the <a href="/book">new book page</a> and fill out the form provided. You must list the name of the book and how much you want for it, among other things. If someone indicates that they would like to buy your book, your preferred contact information will be shared with them.</p>
    <p class="justified">To purchase a book, navigate to the <a href="/">home page</a> and search for the book you want. You can alternatively search for books by the class they are for. If you find a book you would like to purchase, you may view the contact details of the student who listed the book, so that you may contact them about receiving the book.</p>
    <p class="justified">If you would like to contact us for any reason, please see the <a href="/contact">contact page</a>.</p>        
</div>