<div class="container">
    <h1 class="centered">Edit Terms and Conditions</h1>
    <p class="centered">Change the terms and conditions by editing the text below. Markdown is supported.</p>
    <form method="POST">
        <div class="form-group">
            <label for="tac">Terms and conditions</label>
            <textarea class="form-control" id="tac" name="tac" rows="24" maxlength="65535">{{termsAndConditions}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>
