<h1 class="centered">{{title}}</h1>
<img class="fit-image" src="{{imageUrl}}">
<p>
    <div class="d-flex justify-content-between">
        <span><b>Author</b> {{author}}</span>
        <span><b>Price</b> ${{price}}</span>
        <span><b>Condition</b> {{condition}}</span>
        <span><b>Department</b> {{department}}{{#if courseNumber}} {{courseNumber}}{{/if}}</span>
    </div>
</p>
<p class="justified">{{description}}</p>
<button type="button" class="btn btn-primary">Request to purchase</button>
