<div class="container">
  <div id="new-book-card" class="mb-5">
    <h1 class="centered my-4">Edit Book</h1>
    {{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {{/if}}
    <form method="POST" enctype="multipart/form-data">
      <p id="small">* = required</p>
      <div class="row">
        <!-- Title -->
        <div class="form-group col-sm-6 col-lg-4">
          <label for="title">Book title*</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            maxlength="128"
            value="{{form.title}}"
            required
          />
        </div>
        <!-- Author -->
        <div class="form-group col-sm-6 col-lg-4">
          <label for="author">Author*</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            maxlength="64"
            value="{{form.author}}"
            required
          />
        </div>
        <!-- Price -->
        <div class="form-group col-sm-12 col-md-4">
          <label for="price">Price (USD)*</label>
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            maxlength="7"
            value="{{form.price}}"
            required
          />
        </div>

        <!-- ISBN-10 -->
        <div class="form-group col-6 col-md-4">
          <label for="ISBN10">ISBN-10</label>
          <input
            type="text"
            class="form-control"
            id="ISBN10"
            name="ISBN10"
            maxlength="10"
            value="{{form.ISBN10}}"
          />
        </div>
        <!-- ISBN-13 -->
        <div class="form-group col-6 col-md-4">
          <label for="ISBN13">ISBN-13</label>
          <input
            type="text"
            class="form-control"
            id="ISBN13"
            name="ISBN13"
            maxlength="13"
            value="{{form.ISBN13}}"
          />
        </div>
        <!-- Condition -->
        <div class="form-group col-12 col-lg-4">
          <label for="condition">Book condition*</label>
          <select
            class="form-control"
            id="condition"
            name="condition"
            required
          >
            <option value="">Select...</option>
            {{#each conditions}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <script type="text/javascript">
            document.getElementById("condition").value = "{{form.condition}}";
          </script>
        </div>

        <!-- Department -->
        <div class="form-group col-6 col-lg-4">
          <label for="department">Department*</label>
          <select
            class="form-control"
            id="department"
            name="department"
            required
          >
            <option value="">Select...</option>
            {{#each departments}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
          </select>
          <script type="text/javascript">
            document.getElementById("department").value =
              "{{form.department}}";
          </script>
        </div>
        <!-- Course number -->
        <div class="form-group col-6 col-lg-4">
          <label for="courseNumber">Course number</label>
          <input
            type="number"
            class="form-control"
            id="courseNumber"
            name="courseNumber"
            maxlength="3"
            value="{{form.courseNumber}}"
          />
        </div>
        <!-- Image -->
        <div class="form-group col-12 col-lg-4">
          <label for="imageDiv">Image</label>
          <div class="custom-file" id="imageDiv">
            <input
              type="file"
              class="custom-file-input"
              id="image"
              name="image"
              accept=".jpg, .jpeg, .png"
            />
            <label class="custom-file-label" for="image">Choose file</label>
          </div>
        </div>
      </div>
      <!-- Description -->
      <div class="form-group col-12" id="description-container">
        <label for="description">Description*</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="description"
          maxlength="1024"
          rows="3"
          required
        >
{{form.description}}</textarea
        >
      </div>
      <button type="submit" class="btn btn-primary">Edit book</button>
      <a href="/book/{{form.bookId}}" class="btn btn-primary">Cancel</a>
    </form>
  </div>
</div>

<script>
  $("#image").on("change", function () {
    //get the file name
    var fileName = $(this).val().replace("C:\\fakepath\\", "");
    //replace the "Choose a file" label

    $(this).next(".custom-file-label").html(fileName);
  });
</script>
