<div class="container">
  <h1 class="centered">Help Out</h1>
  <p class="centered">
    This website is kept up with donations from users. If you appreciate the
    site, please consider donating.
  </p>
  <p class="centered">
    <a
      href="https://www.gofundme.com/f/norsebooks"
      target="_blank"
      class="btn btn-primary"
      rel="noopener noreferrer"
      >View GoFundMe page</a
    >
  </p>
  <p class="centered">
    If you would like to contribute to the website, please send us an email at
    <a href="mailto:mynorsebooks@gmail.com" rel="noopener noreferrer"
      >mynorsebooks@gmail.com</a
    >.
  </p>
</div>
