<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/index.js"></script>
<h1 class="centered">NorseBooks</h1>
<form class="space-below">
    <div class="form-row">
        <div class="row even-spacing">
            <!-- Title -->
            <div class="col-lg-3 col-sm-6 mb-3">
                <label for="title">Book title</label>
                {{#if form.title}}
                <input type="text" class="form-control" id="title" name="title" maxlength="128" value="{{form.title}}">
                {{else}}
                <input type="text" class="form-control" id="title" name="title" maxlength="128">
                {{/if}}
            </div>
            <!-- Author -->
            <div class="col-lg-3 col-sm-6 mb-2">
                <label for="author">Author</label>
                {{#if form.author}}
                <input type="text" class="form-control" id="author" name="author" maxlength="64" value="{{form.author}}">
                {{else}}
                <input type="text" class="form-control" id="author" name="author" maxlength="64">
                {{/if}}
            </div>
            <!-- Dept -->
            <div class="col-lg-2 col-sm-6 mb-3">
                <label for="department">Department</label>
                <select class="form-control" id="department" name="department">
                    <option value="">Select...</option>
                    {{#each departments}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
                {{#if form.department}}
                <script type="text/javascript">
                    document.getElementById('department').value = '{{form.department}}';
                </script>
                {{/if}}
            </div>
            <!-- Course Number -->
            <div class="col-lg-2 col-sm-6 mb-3">
                <label for="courseNumber">Course number</label>
                {{#if form.courseNumber}}
                <input type="number" class="form-control" id="courseNumber" name="courseNumber" maxlength="3" value="{{form.courseNumber}}">
                {{else}}
                <input type="number" class="form-control" id="courseNumber" name="courseNumber" maxlength="3">
                {{/if}}
            </div>
            <!-- Submit -->
            <div class="col-lg-2 col-sm-12 mb-3 flex-end">
                <button type="submit" class="btn btn-primary mr-1 no-expand">Search</button>
                {{#if form}}
                <a class="btn btn-primary" href="/">Clear</a>
                {{/if}}
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row" id="index"></div>
</div>
<p class="centered" id="status">Fetching books...</p>
