<h1 class="centered">Login</h1>
<div class="thin">
    {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {{/if}}
    <p class="justified">Log in using your email address and password. If you do not have an account, please <a href="/register">create one here</a>. If you have forgotten your password, please <a href="/password-reset">reset it here</a>.</p>
    <form method="POST">
        <div class="form-group">
            <label for="email">Luther email address</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="email" name="email" required>
                <div class="input-group-append">
                    <span class="input-group-text">@luther.edu</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
