<h1 class="centered">Reset Password</h1>
<div class="thin">
    {{#if valid}}
        {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}
        <p class="justified">Reset your password below. You will only be able to reset your password while this link is valid. Do not share this link with anyone.</p>
        <form method="POST">
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="newPassword">Password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="128" placeholder="{{passwordExample}}" required>
                </div>
                <div class="form-group col-6">
                    <label for="confirmNewPassword">Confirm password</label>
                    <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" maxlength="128" placeholder="{{passwordExample}}" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    {{else}}
        <p class="centered">Invalid password reset request. This is likely because the link expired. Please <a href="/password-reset">request to reset your password again</a>, bearing in mind you have one hour before the link in the email expires.</p>
    {{/if}}
</div>
