<div class="container">
    <h1 class="centered">Password Reset Request</h1>
    <div class="thin">
        <p class="justified">If you would like to reset your password, please enter your email below. You will be sent an email containing a link which you will use to reset your password. The link will expire after one hour.</p>
        <form method="POST">
            <div class="form-group">
                <label for="email">Luther email address</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="email" name="email" required>
                    <div class="input-group-append">
                        <span class="input-group-text">@luther.edu</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
    
</div>
