<div class="container">
    <div class="mt-5">
        <div class="profile-summary mb-5">
            <img class="image-circle mb-2" id="user-image" height="200px" src="{{imageUrl}}" alt="">
            <h2 class="centered mb-1">{{firstname}} {{lastname}}</h2>
            <h5 class="centered mb-1">{{email}}</h5>
            <h6 class="centered mb-1">Sold {{itemsSold}} items</h6>
            <h6 class="centered mb-1">Made {{moneyMade}}</h6>
            <small class="centered">Joined {{joined}}</small>
        </div>
        {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}
        
        <div id="your-listings">
        <h3>Your Listings</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Department</th>
                        <th scope="col">Condition</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each booksListed}}
                    <tr>
                        <td><a href="/book/{{this.bookid}}">{{this.title}}</a></td>
                        <td>{{this.author}}</td>
                        <td>{{this.department}}{{#if this.coursenumber}} {{this.coursenumber}}{{/if}}</td>
                        <td>{{this.condition}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
        <div class="my-5">
            <form method="POST">
                <h3>Set contact info</h3>
                <div class="row">
                    <div class="form-group col-4 col-md-3">
                        <label for="contactPlatform">Contact platform</label>
                        <select class="form-control" id="contactPlatform" name="contactPlatform" required>
                            <option value="">Select...</option>
                            {{#each platforms}}
                            <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        {{#if contactInfoExists}}
                        <script type="text/javascript">
                            document.getElementById('contactPlatform').value = '{{contactPlatform}}';
                        </script>
                        {{/if}}
                    </div>
                    <div class="form-group col-8 col-md-6 col-lg-7">
                        <label for="contactInfo">Contact info</label>
                        {{#if contactInfo}}
                        <input type="text" class="form-control" id="contactInfo" name="contactInfo" maxlength="128" placeholder="i.e. yasiro01@luther.edu" value="{{contactInfo}}" required>
                        {{else}}
                        <input type="text" class="form-control" id="contactInfo" name="contactInfo" maxlength="128" placeholder="i.e. yasiro01@luther.edu" required>
                        {{/if}}
                    </div>
                    <div class="col-12 col-md-3 col-lg-2 flex-end even-spacing">
                        <button type="submit" class="btn btn-primary mb-3" formaction="/setContactInfo">Set contact info</button>
                    </div>
                </div>
                
            </form>
        </div>
        
        <div class="mb-5">
            <form method="POST">
                <h3>Set image</h3>
                <div class="row">
                    <div class="form-group col-8 col-md-10">
                        <label for="imageUrl">Image URL</label>
                        <input type="url" class="form-control" id="imageUrl" name="imageUrl" maxlength="256" required value="{{imageUrl}}">
                    </div>
                    <div class="col-4 col-md-2 flex-end">
                        <button type="submit" class="btn btn-primary mb-3" formaction="/setImage">Set image</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="mb-5">
            <form method="POST">
                <h3>Change password</h3>
                <div class="row">
                    <div class="form-group col-12 col-md-4">
                        <label for="currentPassword">Current password</label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" maxlength="128" required>
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-4">
                        <label for="newPassword">New password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" maxlength="128" required>
                    </div>
                    <div class="form-group col-12 col-sm-6 col-md-4">
                        <label for="confirmNewPassword">Confirm new password</label>
                        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" maxlength="128" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" formaction="/changePassword">Change password</button>
            </form>
        </div>
    </div>
</div>