{{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
{{/if}}
<p>Please fill in all the boxes in the form below. Once you have registered, you will receive a verification email. You will have one hour to verify your email before the email will expire.</p>
<form method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Confirm password</label>
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
    </div>
    <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" class="form-control" id="lastname" name="lastname" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
