<div class="container">
    <h1 class="centered">Successfully Registered</h1>
    <p class="centered">Congratulations! You've registered for NorseBooks. We've sent you an email asking you to verify your account. All you need to do is click on the link in the email, and your account will be verified. You will not be able to log in until after you have verified your account.</p>
    <p class="centered"><i>If you do not see the email, please check your spam folder.</i></p>
    <p class="centered"><i>The link in the email will expire in one hour, so please do not put this off.</i></p>
</div>
