html {
    overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    /* sticky footer */
    flex: 1 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
    /* for sticky footer */
    display: flex;
    flex-direction: column;
}

.buttonAsLink {
    background: none;
    outline: none;
    border: none;
    font-style: italic;
}

.buttonAsLink:hover {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

.even-spacing {
    margin: 0 auto;
}

.justified {
    text-align: justify;
}

.thin {
    margin: 0 auto;
    max-width: 600px;
}

.bold {
    font-weight: 600;
}

#book-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}


#img-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.space-above {
    margin-top: 24px;
}

.small-space-above {
    margin-top: 16px;
}

.space-below {
    margin-bottom: 24px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    align-items: flex-end;
}

.flex-end-content {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

.normal-link {
    color: var(--secondary-light);
}

.normal-link:hover {
    color: var(--secondary-hover);
}

.normal-link:active {
    color: var(--secondary-active);
}

/* NavBar */
@media (min-width: 768px) { 
    .flex-responsive {
        display: flex;
        justify-content: space-between;
    }
}

.navbar .dropdown-menu {
    margin-top: 15px;
}


/* Footer */
footer {
    flex-shrink: 0; /* for sticky footer */
    background-color: rgb(42, 42, 46);
    color: rgb(102, 102, 108);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer h6 {
    text-align: center;
    font-weight: 800;
}

footer .footer-list-link {
    text-align: center;
    display: block;
    color: rgb(102, 102, 108);
}

/* Index Page */

#index .card {
    margin: 0 auto;
    border: none;
    padding: 0px 20px;
}

#index .thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#index .card-price {
    font-size: 1rem;
    color: black;
}

#index .card-body {
    color: black;
}

#index .card-info {
    font-size: 1rem;
}

#index .title {
    font-weight: 700;
    color: var(--secondary-active);
}

.hero-image {
    background-image:url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
    height: 400PX;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0px 0px 15px black;
}

.hero-text p {
    background-color: black;
    color: white;
    padding: 2px 8px;
}

.photo-creds {
    font-style: italic;
    color: white;
}

.photo-creds a {
    color: white;
    text-decoration: underline;
}

.card {
    background-color: rgb(248, 248, 248);
    border-radius: 0;
    box-shadow: 5px 5px 20px rgb(223, 222, 222);
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

/* New Book Page */
#description-container {
    padding: 0!important;
}

#new-book-card {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 14px;
    padding: 30px 40px;
    margin-top: 3rem;
    box-shadow: 5px 5px 20px rgb(233, 233, 233);
}

#new-book-card p#small {
    font-size: .9rem;
    color: red;
}
#result-list-container {
    display: none;
}
#result-list-container .title {
    font-weight: 600;
}
#result-list-container .author {
    margin-left: .6rem;
    font-style: italic;
}

.autofill-success {
    border: 2px solid rgb(13, 163, 13);
    background: rgb(234, 250, 234);
}

.autofill-fail {
    border: 2px solid red;
}

/* Profile Page */
.image-circle {
    border-radius: 50%;
}

#user-image {
    display: block;
    margin: 0 auto; 
    object-fit: contain;
}

.profile-summary h5 {
    font-size: 1rem;
    font-style: italic;
}

.profile-summary small {
    color: lightgray;
    font-size: .75rem;
    display: block;
    margin:0 auto;
}

#your-listings tbody tr:hover {
    background-color: rgb(243, 243, 244);
}

/* Login Page */
#login-card {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 14px;
    width: 450px;
    margin:0 auto;
    padding: 30px 40px;
    margin-top: 1rem;
    box-shadow: 5px 5px 20px rgb(70, 39, 39);
    color: black;
    background-color: white;
} 


#login-card span#brand {
    color: var(--secondary-hover);
    font-weight: 600;
}

#login-card small {
    color: gray;
}

#login-card .space-between {
    align-items: center;
}

.centered-small {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.login {
    background-image: url("https://images.unsplash.com/photo-1553941884-f8947df6e0ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=728&q=80");
}

/* Register */
.register-card {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 14px;
    padding: 30px 40px;
    margin-top: 3rem;
    box-shadow: 5px 5px 20px black;
    width: fit-content;
    margin: 0 auto;
    background-color: white;
}

.register-card small{
    color:gray
}

.register {
    background-image: url("https://images.unsplash.com/photo-1537202108838-e7072bad1927?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=770&q=80");
}

.modal-image {
    background-size: auto;
    background-position-y: center;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

#tac h1 {
    font-size: 2rem;
}

#tac h2 {
    font-size: 1.85rem;
}

#tac h3 {
    font-size: 1.7rem;
}

#tac h4 {
    font-size: 1.55rem;
}

#tac h5 {
    font-size: 1.4rem;
}

#tac h6 {
    font-size: 1.25rem;
}

/* Book/show page */
.content-card {
    box-shadow: 5px 5px 20px black;
    background: white;
    padding: 3rem;
}

.background-image {
    background-image: url(https://images.unsplash.com/photo-1535905557558-afc4877a26fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.faint {
    color: gray;
}

#blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
    z-index: 1;
    opacity: .9;
    display: none;
}

.blurred-modal {
    position: fixed;    
    margin: 0 auto;
    width: auto;
    background-color: white;
    padding: 1.5rem 2rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px gray;
    z-index: 2;
    display: none;
    min-width: 400px;
}

.close-modal {
    border: none;
    background: none;
}

@media (max-width: 768px) { 
    .blurred-modal {
        width: 90%;
        left: 50%;
        min-width: 0;
    }
}

#contact-link {
    font-weight: bold;
}

.stats-label {
    font-style: italic;
}

.stats-value {
    font-size: 1.75rem;
}

#query-results {
    overflow-x: auto;
}

#query-results-table {
    margin-bottom: 0;
}
