.centered {
    text-align: center;
}

.even-spacing {
    margin: 0 auto;
}

.justified {
    text-align: justify;
}

.thin {
    margin: 0 auto;
    max-width: 600px;
}

#book-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}


#img-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

.space-above {
    margin-top: 24px;
}

.small-space-above {
    margin-top: 16px;
}

.space-below {
    margin-bottom: 24px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    align-items: flex-end;
}

.hidden {
    display: none;
}

.normal-link {
    color: var(--secondary-light);
}

.normal-link:hover {
    color: var(--secondary-hover);
}

.normal-link:active {
    color: var(--secondary-active);
}

/* NavBar */
@media (min-width: 768px) { 
    .flex-responsive {
        display: flex;
        justify-content: space-between;
    }
}

.bg-dark {
    background-color: var(--secondary-active)!important;
}

/* Index Page */

#index .card {
    margin: 0 auto;
    border: none;
    padding: 0px 20px;
}

#index .thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#index .card-price {
    font-size: 1rem;
    color: black;
}

#index .card-body {
    color: black;
}

#index .card-info {
    font-size: 1rem;
}

#index .title {
    font-weight: 700;
    color: var(--secondary-active);
}

/* New Book Page */
#description-container {
    padding: 0!important;
}

/* Profile Page */
.image-circle {
    border-radius: 50%;
}

#user-image {
    display: block;
    margin: 0 auto; 
    object-fit: contain;
}

/* Login Page */
#login-card {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 14px;
    width: 450px;
    margin:0 auto;
    padding: 30px 40px;
    margin-top: 3rem;
    box-shadow: 5px 5px 20px rgb(233, 233, 233);
}

#login-card {
    color: black;
}

#login-card span#brand {
    color: var(--secondary-hover);
    font-weight: 600;
}

#login-card small {
    color: gray;
}

#login-card #forgot-password {
    color: #0f2f9f;
    font-weight: 600;
}

#login-card #login {
    background: #0f2f9f;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
}

#login-card .space-between {
    align-items: center;
}