<!DOCTYPE html>
<html>
    <head>
        <meta id="vp" name="viewport" content="width=device-width, initial-scale=1">
        <script>
            window.onload = function() {
                if (screen.width < 800) {
                    var mvp = document.getElementById('vp');
                    mvp.setAttribute('content', 'user-scalable=no, width=800');
                }
            }
        </script>
        {{#if title}}
            <title>{{title}} - Norse Books</title>
        {{else}}
            <title>Norse Books</title>
        {{/if}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="/">
                    <img src="/favicon.ico" width="40" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-main">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/book">New book</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                        <a class="nav-item nav-link" href="/contact">Contact</a>
                    </div>
                </div>
                <div class="form-inline">
                    {{#if loggedIn}}
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                        <a class="nav-item nav-link" href="/profile">Profile</a>
                        <a class="nav-item nav-link" href="/profile"><img src="{{userImageUrl}}" alt="" width="30" height="30" id="img-circle"></a>
                    {{else}}
                        <a class="nav-item nav-link" href="/login">Login</a>
                        <a class="nav-item nav-link" href="/register">Register</a>
                    {{/if}}
                </div>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>
